<div>
    <div class="hero-wrap" style="background-image: url('../../assets/images/kidPoint.jpg')">
        <div class="overlay"></div>

        <div class="" style=" height: 770px" >
            <div class="container row no-gutters slider-text align-items-center" >
                <div class="col-md-5 offset-md-10  order-md-last"  style="margin-top: 650px">
                    <div class="login-wrap p-4 p-md-5">
                        <h3 class="mb-5 align-center">هم اکنون ثبت نام کنید</h3>
                        <form #f=ngForm (ngSubmit)="onSaveUsers(f)" class="signup-form">

                            <div class="form-group">
                                <label class="label" for="firstName" style="margin-left: 310px">نام</label>
                                <input ngModel name="firstName" #firstName="ngModel"  id="firstName" type="text" class="form-control" placeholder="">
                                <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.value">Please fill the firstname</div>
                            </div>
                            <div class="form-group">
                                <label class="label" for="lastName" style="margin-left: 240px" >نام خانوادگی</label>
                                <input ngModel name="lastName" #lastName="ngModel" id="lastName" type="text" class="form-control" placeholder="">
                                <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.value">Please fill the lastNamee</div>

                            </div>
                            <div class="form-group">
                                <label class="label" for="email">پست الکترونیک</label>
                                <input ngModel name="email" #email="ngModel" type="email" id="email" class="form-control" placeholder="">
                                <div class="alert alert-danger" *ngIf="email.touched && !email.value">Please fill the Email</div>
                            </div>
                            <div class="form-group">
                                <label class="label" for="password" style="margin-left: 280px">رمز عبور</label>
                                <input ngModel name="password" #password="ngModel" id="password" type="password" class="form-control" placeholder="">
                                <div class="alert alert-danger" *ngIf="password.touched && !password.value">Please fill the Password</div>
                            </div>
                            <div class="form-group">
                                <label class="label" for="confirmPassword" style="margin-left: 240px">تکرار رمز عبور</label>
                                <input ngModel name="confirmPassword" #confirmPassword="ngModel" id="confirmPassword" type="password" class="form-control" placeholder="">
                                <div class="alert alert-danger" *ngIf="confirmPassword.touched && !confirmPassword.value">Please fill the confirmPassword</div>
                            </div>

                            <button class="btn btn-success">Submit</button>
                        </form>

                        <p dir="ltr" class="text-center" style="color: #f02e5e; font-size: 14px">حساب کاربری داری ؟ <a routerLink="/login" class="">ورود</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
