body{
    background-image: url('../../assets/images/bg_1.jpg');
}
.mb-4{margin-bottom:1.5rem !important;
    margin-top: 25.5rem  !important;
}
.mb-5{
    margin-bottom: 5rem;
}
.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.col-md-7{flex:0 0 auto;width:58.3333333333%}
.ftco-animate {
    opacity: 0;
    visibility: hidden; }
