@import "~bootstrap/dist/css/bootstrap.css";

@import "../../css/animate.css";
@import "../../css/font-awesome.min.css";
/* @import "../../css/owl.carousel.min.css"; */
@import "../../css/owl.theme.default.min.css"; 
@import "../../css/magnific-popup.css";
@import "../../css/bootstrap-datepicker.css";
@import "../../css/jquery.timepicker.css";
@import "../../css/flaticon.css";
@import "../../css/style.css";

.ftco-footer {
    font-size: 16px;
    padding: 2em 0;
    z-index: 0;
    background: #ce4be8;
    background: -moz-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
    /*background: -webkit-gradient(left top, right bottom, color-stop(0%, #ce4be8), color-stop(100%, #207ce5));*/
    background: -webkit-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
    background: -o-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
    background: -ms-linear-gradient(-45deg, #ce4be8 0%, #207ce5 100%);
    background: -webkit-linear-gradient(315deg, #ce4be8 0%, #207ce5 100%);
    background: -o-linear-gradient(315deg, #ce4be8 0%, #207ce5 100%);
    background: linear-gradient(135deg, #ce4be8 0%, #207ce5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce4be8', endColorstr='#207ce5', GradientType=1 ); }
.ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600; }
.ftco-footer .ftco-footer-widget ul li a {
    color: rgba(255, 255, 255, 0.8); }
.ftco-footer .ftco-footer-widget ul li a span {
    color: rgba(255, 255, 255, 0.1); }
.ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important; }
.ftco-footer .ftco-footer-widget .btn-primary:hover {
    background: #fff;
    border: 2px solid #fff !important; }
.ftco-footer p {
    color: rgba(255, 255, 255, 0.8); }
.ftco-footer a {
    color: rgba(255, 255, 255, 0.8); }
.ftco-footer a:hover {
    color: #4986fc; }
.ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #fff; }

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
    margin-left: 20px}
.ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    color: #fff;
    border-radius: 50%;
    position: relative;
    background: #24d2c8;
    }
.ftco-footer-social li a span {
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff !important; }
.ftco-footer-social li a:hover {
    color: #4986fc; }

.footer-external {

}