<footer dir="rtl" class="ftco-footer ftco-no-pt col-lg-12 col-md-12 footer-external" style="width:100%">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 pt-5">
                <img class=" col-md-3 offset-md-9" src="../../assets/images/logo.png" alt="logo">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <!--<h2 class="ftco-heading-2 align-right title-font">تیچرلند لوگو</h2>-->
                    <p class="align-right">نشانی : تهران ، خیابان الف</p>
                    <p class="align-right">ما را در شبکه های اجتماعی دنبال کنید</p>
                    <ul class="col-md-6 col-lg-12 ftco-footer-social list-unstyled float-md-left float-lft">
                        <!--<li class="ftco-animate"><a href="#"><span class="icon fa fa-twitter"></span></a></li>-->
                        <!--<li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>-->
                        <!--<li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>-->
                        <li><a href="#"><span class="icon fa fa-instagram"></span> <span class="text"></span></a></li>
                        <li><a href="#"><span class="icon fa fa-telegram"></span> <span class="text"></span></a></li>
                        <li><a href="#"><span class="icon fa fa-envelope"></span> <span class="text"></span></a></li>
                    </ul>
                </div>
            </div>


            <div class="col-md-6 pt-5">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2 align-right">ارتباط با ما</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map-marker"></span> <span class="text">ایران، تهران، خیابان ولنجک، دانشگاه شهید بهشتی</span> </li>
                            <li><a href="#"><span class="icon fa fa-phone"></span> <span class="text"> 02188776655 </span> </a></li>
                            <li><a href="#"><span class="icon fa fa-paper-plane"></span> <span class="text">info@teacherland.com</span></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>