<div>
    <div class="hero-wrap" style="background-image: url('../../assets/images/kidPoint.jpg')">
        <div class="overlay"></div>
        <div class="" style=" height: 700px" >
            <div class="container row no-gutters slider-text align-items-center" >
                <div class="col-md-5 offset-md-10  order-md-last"  style="margin-top: 700px">
                    <div class="login-wrap p-4 p-md-5">
                        <h3 class="mb-5 align-center">ورود به حساب کاربری</h3>
                        <form action="#" class="signup-form">

                            <div class="form-group">
                                <label class="label" for="email">پست الکترونیک</label>
                                <input type="text" id="email" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label class="label" for="password" style="margin-left: 270px">رمز عبور</label>
                                <input id="password" type="password"  class="form-control" placeholder="">
                            </div>

                            <div class="form-group ">
                                <button class="btn "><a href="#" class="fa fa-telegram btn-outline-primary"></a> </button>
                                <!--<li><a href="#"><span class="icon fa fa-telegram"></span> <span class="text"></span></a></li>-->
                            </div>

                            <button class="btn btn-primary" (click)="onNewGet()">ورود</button>
                        </form>
                        <p dir="ltr" class="text-center" style="color: #f02e5e; font-size: 14px">حساب کاربری نداری ؟ <a routerLink="/sign-up" class=""> ثبت نام </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
