<section class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9   pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">خانه <i class="fa fa-chevron-right"></i></a></span> <span> تماس با ما <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">تماس با ما</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-lg-12 col-md-7 order-md-last d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4 align-right">با ما در ارتباط باشید</h3>
                              
                                
                                 <form #contactForm="ngForm"  id="contactForm" class="contactForm" >  <!-- (ngSubmit)="onSubmit(contactForm)" -->
                                    <div class="row">
                                        
                                            <div class="col-md-6" *ngFor="let info of personalInfo">
                                                <div class="form-group">
                                                    <label class="label" for="name">{{ info.Name }}</label>
                                                    <input ngModel #name="ngModel" type="text" class="form-control" name="name" id="name"  placeholder="{{ info.PlaceH }} " dir="rtl">
                                                </div>
                                            </div>
                                       

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">موضوع</label>
                                                <input name="subject" ngModel #subject="ngModel" (change)="onSubject(subject)" type="text" class="form-control" id="subject" placeholder="مثال: شکایت" dir="rtl">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="message">پیام شما</label>
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="متن پیام" dir="rtl"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" value="ارسال پیام" class="btn btn-primary">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>

                                </form>


                            </div>
                        </div>

                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>