 <nav dir="rtl" class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand title-font" href="index.html"><span>تیـــچر</span>لـــند</a>
    
    <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a routerLink="" class="nav-link" style="color: #f02e5e;">خانه</a></li>
            <li class="nav-item"><a routerLink="/contact-us" class="nav-link" style="color: #f02e5e;">تماس با ما</a></li>
            <!-- <li class="nav-item"><a href="about.html" class="nav-link">درباره ما</a></li>
            <li class="nav-item"><a href="course.html" class="nav-link">آموزش ها</a></li>
            <li class="nav-item"><a href="blog.html" class="nav-link">اخبار</a></li> -->
      </ul>
  </div>
 
        <button class="btn btn-outline-primary main_font"><a id="vorudBtn" routerLink="/login" style="color: #5aadf5 ">ورود</a> </button>
        <button class="btn btn-outline-success main_font"><a id="signUpBtn" routerLink="/sign-up" style="color: #71e271 ">ثبت نام</a> </button>
        <!--<div class="dropdown">-->
            <!--<button class="btn btn-outline-success dropdown-toggle main_font" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--ثبت نام-->
            <!--</button>-->
            <!--<div class="dropdown-menu btn " aria-labelledby="dropdownMenuButton">-->
                <!--<a class="dropdown-item " routerLink="#">دانش جو</a>-->
                <!--<a class="dropdown-item" routerLink="#">استاد</a>-->
            <!--</div>-->
        <!--</div>-->
 </div>
 </nav>
 