<!-- important** Problem for not showing component was a class named "ftco-animate" -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ">
                <!--<span class="subheading">Start Learning Today</span>-->
                <h2 class="mb-4">پرطرفدارترین اساتید</h2>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let course of coursesInfo" class="col-md-4">
                <div class="project-wrap">
                    <a href="course-single.html" class="img" style="background-image: url('../../assets/images/{{course.background}}');">
                        <span class="price">{{ course.subject }}</span>
                    </a>
                    <div class="text p-4">
                        <h3><a href="course-single.html">{{ course.title }}</a></h3>
                        <p class="advisor">مدرس <a href="#">{{ course.teacher }}</a></p>
                        <ul class="d-flex justify-content-between">
                            <li><span class="flaticon-shower"></span>{{course.students}}</li>
                            <li class="price">{{ course.price }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

