<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ">
                    <span class="subheading">یادگیری را هم اکنون آغاز کن</span>
                    <h2 class="mb-4">پرتقاضاترین دوره های آموزشی</h2>
                </div>
            </div>
        <div class="row justify-content-center">   
            <div *ngFor="let category of categoriess " class="col-md-3 col-lg-2">
                <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('../../assets/images/{{category.background}}');">
                    <div class="text w-100 text-center">
                        <h3>{{ category.course }}</h3>
                        <span dir="rtl"> {{ category.number }} دوره</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
 </section>
