<div class="hero-wrap js-fullheight" style="background-image: url('../../assets/images/bg_1.jpg');">
    <div class="overlay">
    </div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
            <div class="col-md-12">          
            
                    <h1 class="mb-4 align-right" >آموزش برای همه</h1>
                    <p class="caps align-right">با تیچرلند هر چیزی که دوست داری رو یاد بگیر </p>
                    <p class="mb-5 col-md-12 col-lg-12 align-center">
                        <a href="#" class="btn btn-primary">دوره ها</a> 
                        <a href="#" class="btn btn-white">بیشتر بدانید</a>
                    </p>
            </div>
        </div>
    </div>
</div>