@import "~bootstrap/dist/css/bootstrap.css";

@import "../../css/animate.css";
/* @import "../../css/owl.carousel.min.css"; */
@import "../../css/owl.theme.default.min.css"; 
@import "../../css/magnific-popup.css";
@import "../../css/bootstrap-datepicker.css";
@import "../../css/jquery.timepicker.css";
@import "../../css/flaticon.css";
@import "../../css/style.css";

body{
    background-image: url('../../assets/images/bg_1.jpg');
}
.mb-4{margin-bottom:1.5rem !important;
    margin-top: 25.5rem  !important;
}
.mb-5{
    margin-bottom: 5rem;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important; 
}

.col-md-7{flex:0 0 auto;width:58.3333333333%}
.ftco-animate {
    opacity: 0;
    visibility: hidden; }
  