/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import 'css/style.css';
@import "css/animate.css";
/*@import "css/owl.carousel.min.css";*/
@import "css/owl.theme.default.min.css";
@import "css/magnific-popup.css";
@import "css/bootstrap-datepicker.css";
@import "css/jquery.timepicker.css";
@import "css/flaticon.css";


body{
    padding: 1px;
}
.ftco-animate {
    opacity: 0;
    visibility: hidden; }

router-outlet {
    position: absolute;
}